<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Trip with id {{idTrip}}</nb-card-header>
            <nb-card-body>
                <form class="form-inline">
                    <label class="label">Name</label>
                    <label type="text" fullWidth>{{namePassenger}}</label>
                    <label class="label"> Email</label>
                    <label type="text" fullWidth>{{emailPassenger}}</label>
                    <label class="label">Passport</label>
                    <label type="text" fullWidth>{{passportPassenger}}</label>
                    <label class="label">Date of birth</label>
                    <label type="text" fullWidth>{{dateOfBirthPassenger}}</label>
                </form>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Outbound fligths
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="outboundSettings" [source]="outboundSource">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>


    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Return fligths
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="returnSettings" [source]="returnSource">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
    <nb-card>

        <div>
            <button nbButton status="danger" (click)="deleteTrip($event)">Delete</button>
        </div>
    </nb-card>
</div>