<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Create trip</nb-card-header>
            <nb-card-body>
                <form class="form-inline">
                    <label class="label">Name</label>
                    <input name="passengerName" #passengerName="ngModel" type="text" [(ngModel)]="passenger.name" nbInput fullWidth placeholder="Passenger's name" [status]="passengerName.dirty ? (passengerName.invalid ? 'danger' : 'success') : 'basic'" [required]="true"
                        [attr.aria-invalid]="passengerName.invalid && passengerName.touched ? true : null">
                    <label class="label">Email</label>
                    <input name="passengerEmail" #passengerEmail="ngModel" type="text" [(ngModel)]="passenger.email" nbInput fullWidth placeholder="Passenger's email" [status]="passengerEmail.dirty ? (passengerEmail.invalid ? 'danger' : 'success') : 'basic'" [required]="true"
                        [attr.aria-invalid]="passengerEmail.invalid && passengerEmail.touched ? true : null">
                    <label class="label">Passport</label>
                    <input name="passengerPassport" #passengerPassport="ngModel" type="text" [(ngModel)]="passenger.passport" nbInput fullWidth placeholder="Passenger's passport" [status]="passengerPassport.dirty ? (passengerPassport.invalid ? 'danger' : 'success') : 'basic'"
                        [required]="true" [attr.aria-invalid]="passengerPassport.invalid && passengerPassport.touched ? true : null">
                    <label class="label">Date of birdth</label>
                    <input nbInput placeholder="Date of birdth" [nbDatepicker]="formpickerBird">
                    <nb-datepicker #formpickerBird (dateChange)="onSelectDateOfBirdth($event)"></nb-datepicker>
                    <!-- <input name="passengerDateOfBirth" #passengerDateOfBirth="ngModel" type="text" [(ngModel)]="passenger.dateOfBirth" nbInput fullWidth placeholder="Passenger's  date of Birth" [status]="passengerDateOfBirth.dirty ? (passengerDateOfBirth.invalid ? 'danger' : 'success') : 'basic' "
                        [required]="true " [attr.aria-invalid]="passengerDateOfBirth.invalid && passengerDateOfBirth.touched ? true : null "> -->
                </form>
                <div class="form-inline">
                    <label class="label">Add fligth</label>
                    <button nbButton status="primary" (click)="createFlight()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>

                <form class="form-inline">
                    <div *ngFor=" let fligth of fligths ">
                        <nb-card class="inline-form-card" fullWidth>
                            <nb-card-body>
                                <div class="form-inline">
                                    <label class="label">Fligth code</label>
                                    <input (keyup)="changeCode($event,fligth.id)" type="text" class="text-title" nbInput placeholder="Code">
                                    <label class="label">Airline</label>
                                    <nb-select placeholder="- Select airline -" class="cboxLarge" (selectedChange)="onDestinationAirlineSelected($event,fligth.id)">
                                        <nb-option *ngFor=" let airline of airlines " [value]="airline.name ">{{airline.name}}</nb-option>
                                    </nb-select>
                                </div>
                                <div class="form-inline">
                                    <label class="label" fullWidth>Origin airport</label>
                                    <nb-select placeholder="- Select airport -" class="cboxLarge" fullWidth id=0 (selectedChange)="onOriginAirportSelected($event,fligth.id)">
                                        <nb-option *ngFor=" let aiport of aiports " [value]="aiport.name ">{{aiport.name}}</nb-option>
                                    </nb-select>
                                    <label class="label">Origin date</label>
                                    <input nbInput placeholder="Origin date" [nbDatepicker]="formpickerOutbound">
                                    <nb-datepicker #formpickerOutbound (dateChange)="onOriginDateSelected($event,fligth.id)"></nb-datepicker>
                                    <nb-select placeholder="Hour" (selectedChange)="onOriginHourSelected($event,fligth.id)">
                                        <nb-option value=0>00</nb-option>
                                        <nb-option value=1>01</nb-option>
                                        <nb-option value=2>02</nb-option>
                                        <nb-option value=3>03</nb-option>
                                        <nb-option value=4>04</nb-option>
                                        <nb-option value=5>05</nb-option>
                                        <nb-option value=6>06</nb-option>
                                        <nb-option value=7>07</nb-option>
                                        <nb-option value=8>08</nb-option>
                                        <nb-option value=9>09</nb-option>
                                        <nb-option value=10>10</nb-option>
                                        <nb-option value=11>11</nb-option>
                                        <nb-option value=12>12</nb-option>
                                        <nb-option value=13>13</nb-option>
                                        <nb-option value=14>14</nb-option>
                                        <nb-option value=15>15</nb-option>
                                        <nb-option value=16>16</nb-option>
                                        <nb-option value=17>17</nb-option>
                                        <nb-option value=18>18</nb-option>
                                        <nb-option value=19>19</nb-option>
                                        <nb-option value=20>20</nb-option>
                                        <nb-option value=21>21</nb-option>
                                        <nb-option value=22>22</nb-option>
                                        <nb-option value=23>23</nb-option>
                                    </nb-select>
                                    <nb-select placeholder="Minute" class="cbox" (selectedChange)="onOriginMinuteSelected($event,fligth.id)">
                                        <nb-option value=0>00</nb-option>
                                        <nb-option value=10>10</nb-option>
                                        <nb-option value=20>20</nb-option>
                                        <nb-option value=30>30</nb-option>
                                        <nb-option value=40>40</nb-option>
                                        <nb-option value=50>50</nb-option>
                                    </nb-select>
                                </div>
                                <div class="form-inline">
                                    <label class="label" fullWidth>Destination airport</label>
                                    <nb-select placeholder="- Select airport -" class="cboxLarge" fullWidth id=0 (selectedChange)="onDestinationAirportSelected($event,fligth.id)">
                                        <nb-option *ngFor=" let aiport of aiports " [value]="aiport.name ">{{aiport.name}}</nb-option>
                                    </nb-select>
                                    <label class="label">Destination date</label>
                                    <input nbInput placeholder="Origin date" [nbDatepicker]="formpickerDestination">
                                    <nb-datepicker #formpickerDestination (dateChange)="onDestinationDateSelected($event,fligth.id)"></nb-datepicker>
                                    <nb-select placeholder="Hour" (selectedChange)="onDestinationHourSelected($event,fligth.id)">
                                        <nb-option value=0>00</nb-option>
                                        <nb-option value=1>01</nb-option>
                                        <nb-option value=2>02</nb-option>
                                        <nb-option value=3>03</nb-option>
                                        <nb-option value=4>04</nb-option>
                                        <nb-option value=5>05</nb-option>
                                        <nb-option value=6>06</nb-option>
                                        <nb-option value=7>07</nb-option>
                                        <nb-option value=8>08</nb-option>
                                        <nb-option value=9>09</nb-option>
                                        <nb-option value=10>10</nb-option>
                                        <nb-option value=11>11</nb-option>
                                        <nb-option value=12>12</nb-option>
                                        <nb-option value=13>13</nb-option>
                                        <nb-option value=14>14</nb-option>
                                        <nb-option value=15>15</nb-option>
                                        <nb-option value=16>16</nb-option>
                                        <nb-option value=17>17</nb-option>
                                        <nb-option value=18>18</nb-option>
                                        <nb-option value=19>19</nb-option>
                                        <nb-option value=20>20</nb-option>
                                        <nb-option value=21>21</nb-option>
                                        <nb-option value=22>22</nb-option>
                                        <nb-option value=23>23</nb-option>
                                    </nb-select>
                                    <nb-select placeholder="Minute" class="cbox" (selectedChange)="onDestinationMinuteSelected($event,fligth.id)">
                                        <nb-option value=0>00</nb-option>
                                        <nb-option value=10>10</nb-option>
                                        <nb-option value=20>20</nb-option>
                                        <nb-option value=30>30</nb-option>
                                        <nb-option value=40>40</nb-option>
                                        <nb-option value=50>50</nb-option>
                                    </nb-select>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </form>


            </nb-card-body>
            <nb-card-footer>
                <div>
                    <button nbButton status="primary" (click)="createTrip()">Create</button>
                </div>
            </nb-card-footer>
        </nb-card>

    </div>
</div>