<nb-card>
    <nb-card-header>Select passenger (with passport or email)</nb-card-header>
    <nb-card-body>
        <form>
            <div class="form-group">
                <input name="passengerPassport" #passengerPassport="ngModel" type="text" [(ngModel)]="passenger.passport" nbInput placeholder="Passport" [status]="passengerPassport.dirty ? (passengerPassport.invalid ? 'danger' : 'success') : 'basic'" [attr.aria-invalid]="passengerPassport.invalid && passengerPassport.touched ? true : null">
            </div>
            <div class="form-group">
                <input name="passengerEmail" #passengerEmail="ngModel" type="text" [(ngModel)]="passenger.email" nbInput placeholder="Email" [status]="passengerEmail.dirty ? (passengerEmail.invalid ? 'danger' : 'success') : 'basic'" [attr.aria-invalid]="passengerEmail.invalid && passengerEmail.touched ? true : null">
            </div>
            <button nbButton status="success" (click)="findBy(passengerPassport,passengerEmail)">Send</button>
        </form>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>
        All trips by {{passengerName}}
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [settings]=" settings " [source]="source" (deleteConfirm)="routeToAPage($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>